*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'wittgenstein-general';
    background-color: rgb(75, 74, 74);
}

@font-face{
    font-family: 'wittgenstein-general';
    src: url(../static/Wittgenstein-Bold.ttf);
}

$border: solid 2px black;


@mixin mq-767{
    @media(max-width:767px){
        @content;
    }
}

@mixin mq-768-1023{
    @media(min-width: 768px) and (max-width: 1023px){
        @content;
    }
}

@mixin mq-1024{
    @media(min-width: 1024px){
        @content;
    }
}

@mixin flex($justify){
    display: flex;
    justify-content: $justify;
    flex-wrap: wrap;
}

@keyframes fadein{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
