@include mq-767{
    #contacto{
        @include flex(none);
        flex-direction: column;
        gap: 7px;
    }
    #label1{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.5s;
        font-size: smaller;
    }
    #label2{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.8s;
        font-size: smaller;
    }
    #label3{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.1s;
        font-size: smaller;
    }
    #label4{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.4s;
        font-size: smaller;
    }
    #label5{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.7s;
        font-size: smaller;
    }
    #nombre-completo{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.5s;
        font-size: smaller;
    }
    #correo-electronico{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.8s;
        font-size: smaller;
    }
    #numero-de-telefono{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.1s;
        font-size: smaller;
    }
    #empresa{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.4s;
        font-size: smaller;
    }
    #mensaje{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.7s;
        font-size: smaller;
    }
    #boton{
        margin-top: 5%;
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 5s;
        font-size: smaller;
    }
}
@include mq-768-1023{
    #contacto{
        @include flex(none);
        flex-direction: column;
        gap: 7px;
    }
    #label1{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.5s;
    }
    #label2{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.8s;
    }
    #label3{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.1s;
    }
    #label4{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.4s;
    }
    #label5{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.7s;
    }
    #nombre-completo{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.5s;
    }
    #correo-electronico{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.8s;
    }
    #numero-de-telefono{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.1s;
    }
    #empresa{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.4s;
    }
    #mensaje{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.7s;
    }
    #boton{
        margin-top: 5%;
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 5s;
    }
}
@include mq-1024{
    #contacto{
        @include flex(none);
        flex-direction: column;
        gap: 7px;
    }
    #label1{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.5s;
    }
    #label2{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.8s;
    }
    #label3{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.1s;
    }
    #label4{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.4s;
    }
    #label5{
        color: black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.7s;
    }
    #nombre-completo{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.5s;
    }
    #correo-electronico{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 3.8s;
    }
    #numero-de-telefono{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.1s;
    }
    #empresa{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.4s;
    }
    #mensaje{
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 4.7s;
    }
    #boton{
        margin-top: 5%;
        border: $border;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 5s;
    }
}