@include mq-1024{
.icono-wpp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 35px;
    width: 35px;

}
.img-logo{
    height: 125px;
    width: 125px;
    border-radius: 55px;
}
}