@include mq-501-1023{
    .parrafo-footer{
        font-family: 'wittgenstein-general';
        color: black;
        font-weight: 300;
        width: 250px;
        font-size: small;
    }
}
@include mq-1024{
.parrafo-footer{
    font-family: 'wittgenstein-general';
    color: black;
    font-weight: 300;
    width: 300px;
}
}