@include mq-767{
    .parrafo-main-index{
        margin-top: 5%;
        margin-bottom: 5%;
        font-family: 'wittgenstein-general';
        font-size: xx-small;
        width: 16rem;
        color:whitesmoke;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 0.3s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index2{
        color: whitesmoke;
        width: 50vw;
        align-self: flex-start;
        margin-top: 10%;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 0.3s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index3{
        color: whitesmoke;
        width: 100%;
        align-self: flex-end;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 0.9s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index4{
        color: whitesmoke;
        width: 100%;
        align-self: flex-start;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 1.5s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index5{
        color: whitesmoke;
        width: 100%;
        align-self: flex-end;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 1.8s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index6{
        color: whitesmoke;
        width: 100%;
        align-self: flex-start;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 2.5s;
        strong{
            color: black;
        }
    }

    /*----INICIO FOOTER----*/
    .parrafo-footer{
        font-family: 'wittgenstein-general';
        color: whitesmoke;
        font-weight: 300;
        width: 50vw;
        font-size: small;
        strong{
            color: black;
        }
}
/*----SERVICIOS----*/
.parrafo-main-servicios{
    color: black;
    font-size: x-small;
}
/*----METODOS DE PAGO----*/
.parrafo-mdp1{
    width: 50vw;
    margin-left: 40%;
    font-size: large;
 }
 .parrafo-mdp2{
    width: 50vw;
    margin-left: 25%;
    font-size: large;
 }
 .parrafo-mdp3{
    width: 50vw;
    margin-left: 40%;
    font-size: large;
 }
}
@include mq-768-1023{
    .parrafo-main-index{
        margin-top: 5%;
        margin-bottom: 5%;
        font-family: 'wittgenstein-general';
        font-size: small;
        width: 36rem;
        color:whitesmoke;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 0.3s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index2{
        color: whitesmoke;
        width: 16rem;
        align-self: flex-start;
        margin-top: 10%;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 0.3s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index3{
        color: whitesmoke;
        width: 16rem;
        align-self: flex-end;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 0.9s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index4{
        color: whitesmoke;
        width: 16rem;
        align-self: flex-start;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 1.5s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index5{
        color: whitesmoke;
        width: 16rem;
        align-self: flex-end;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 1.8s;
        strong{
            color: black;
        }
    }
    .parrafo-main-index6{
        color: whitesmoke;
        width: 16rem;
        align-self: flex-start;
        font-size: small;
        opacity: 0;
        transform: translateY(20px);
        animation: fadein 1s forwards;
        animation-delay: 2.5s;
        strong{
            color: black;
        }
    }

    /*----INICIO FOOTER----*/
    .parrafo-footer{
        font-family: 'wittgenstein-general';
        color: whitesmoke;
        font-weight: 300;
        width: 16rem;
        font-size: small;
        strong{
            color: black;
        }

        /*----SERVICIOS----*/
 .parrafo-main-servicios{
    color:black;
    font-size:smaller ;
 }
}
/*----SERVICIOS----*/
.parrafo-main-servicios{
    color: black;
    font-size: smaller;
}
/*----METODOS DE PAGO----*/
.parrafo-mdp1{
    margin-left: 30%;
    font-size: large;
    &:hover{
        font-size: x-large;
    }
 }
 .parrafo-mdp2{
    width: 100%;
    margin-left: 15%;
    font-size: large;
    &:hover{
        font-size: x-large;
    }
 }
 .parrafo-mdp3{
    margin-left: 30%;
    font-size: large;
    &:hover{
        font-size: x-large;
    }
 }
}
@include mq-1024{
/*----INICIO MAIN----*/
.parrafo-main-index{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'wittgenstein-general';
    font-size: large;
    width: 36rem;
    color:whitesmoke;
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 0.3s;
    strong{
        color: black;
    }
}
.parrafo-main-index2{
    color: whitesmoke;
    width: 22rem;
    align-self: flex-start;
    margin-top: 10%;
    font-size: large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 0.3s;
    strong{
        color: black;
    }
}
.parrafo-main-index3{
    color: whitesmoke;
    width: 22rem;
    align-self: flex-end;
    font-size: large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 0.9s;
    strong{
        color: black;
    }
}
.parrafo-main-index4{
    color: whitesmoke;
    width: 22rem;
    align-self: flex-start;
    font-size: large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 1.5s;
    strong{
        color: black;
    }
}
.parrafo-main-index5{
    color: whitesmoke;
    width: 22rem;
    align-self: flex-end;
    font-size: large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 1.8s;
    strong{
        color: black;
    }
}
.parrafo-main-index6{
    color: whitesmoke;
    width: 22rem;
    align-self: flex-start;
    font-size: large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 2.5s;
    strong{
        color: black;
    }
}
/*INICIO FOOTER*/
.parrafo-footer{
    font-family: 'wittgenstein-general';
    color: whitesmoke;
    font-weight: 300;
    width: 19rem;
    strong{
        color: black;
    }
}

/*----SERVICIOS----*/
 .parrafo-main-servicios{
    color:black;
 }

 /*----METODOS DE PAGO----*/
 .parrafo-mdp1{
    margin-left: 30%;
    font-size: large;
    &:hover{
        font-size: x-large;
    }
 }
 .parrafo-mdp2{
    width: 100%;
    margin-left: 15%;
    font-size: large;
    &:hover{
        font-size: x-large;
    }
 }
 .parrafo-mdp3{
    margin-left: 30%;
    font-size: large;
    &:hover{
        font-size: x-large;
    }
 }
}
