@include mq-767{
    .h1-index{
        display: none;
        font-size: 15px;
        color: black;
    }
}
@include mq-768-1023{
    .h1-index{
        font-size: 20px;
        color: black;
    }
}
@include mq-1024{
    .h1-index{
        font-size: 35px;
        color: black;
    }
}