@include mq-767{
    .container-index{
        @include flex (space-between);
        border-bottom: $border;
    }
    .div-header-index{
        @include flex(space-around);
        align-items: center;
        flex-direction: column;
        margin: 1%;
        gap: 1rem;
    }
    .div-header-index2{
        margin: 0.5%;
    }

    .conteiner-footer{
        @include flex(space-around);
        flex-direction: column;
        align-items: center;
        border-top: $border;
    }

    .div-footer{
        margin-top: 5%;
        margin-left: 5%;
    }

    .div-footer2{
        margin-top: 5%;
        margin-left: 3%;
    }

    .div-footer3{
        @include flex(none);
        flex-direction: column;
        margin-top: 5%;
        margin-left: 3%;
        
    }

    .div-footer-instagram{
        @include flex(none);
        flex-direction: column;
        gap: 5px;
    }
    .div-footer-mail{
        @include flex(none);
        flex-direction: column;
        gap: 5px
    }
    .div-footer-twitter{
        @include flex(none);
        flex-direction: column;
        gap: 5px;
    }
}
@include mq-768-1023{
    .container-index{
        @include flex (space-between);
        border-bottom: $border;
    }
    .div-header-index{
        @include flex(space-around);
        align-items: center;
        margin: 1%;
        gap: 1rem;
    }
    .div-header-index2{
        margin: 0.5%;
    }

    .conteiner-footer{
        @include flex(space-between);
        align-items: center;
        border-top: $border;
    }

    .div-footer{
        margin-left: 5%;
    }

    .div-footer2{
        margin-top: 2%;
        margin-left: 2%;
    }

    .div-footer3{
        @include flex(none);
        flex-direction: column;
        margin-right: 2%;
    }

    .div-footer-instagram{
        @include flex(none);
        flex-direction: row;
        gap: 5px;
    }
    .div-footer-mail{
        @include flex(none);
        flex-direction: row;
        gap: 5px
    }
    .div-footer-twitter{
        @include flex(none);
        flex-direction: row;
        gap: 5px;
    }
}
@include mq-1024{
    .container-index{
        @include flex (space-between);
        border-bottom: $border;
    }
    .div-header-index{
        @include flex(space-around);
        align-items: center;
        margin: 1%;
        gap: 1rem;
    }
    .div-header-index2{
        margin: 0.5%;
    }

    .conteiner-main{
        @include flex(space-around);
        align-items: center;
        /*overflow-y: scroll;
        scroll-snap-type: y mandatory;*/
    }
   
    .div-main-index1{
        @include flex(space-around);
        align-items: center;
        gap: 75px;
    }

    .conteiner-footer{
        @include flex(space-between);
        align-items: center;
        border-top: $border;
    }

    .div-footer{
        margin-left: 5%;
    }

    .div-footer2{
        margin-top: 2%;
        margin-left: 2%;
    }

    .div-footer3{
        @include flex(none);
        flex-direction: column;
        margin-right: 2%;
    }

    .div-footer-instagram{
        @include flex(none);
        flex-direction: row;
        gap: 5px;
    }
    .div-footer-mail{
        @include flex(none);
        flex-direction: row;
        gap: 5px
    }
    .div-footer-twitter{
        @include flex(none);
        flex-direction: row;
        gap: 5px;
    }
}