@include mq-1024{
    .container-index{
        @include flex (space-between);
    }
    .div-header-index{
        @include flex(space-around);
        align-items: center;
        margin: 1%;
        gap: 1rem;
    }
    .div-header-index2{
        margin: 0.5%;
    }
}